<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudhandson.vpdbackoffice.mapper.ProtectedObjectMapper">
  <select id="findEnabled" resultType="com.cloudhandson.vpdbackoffice.domain.protectedobject.ProtectedObject">
    SELECT object_id, owner, object_name, ords_path, enabled_yn
    FROM cb_protected_object
    WHERE enabled_yn = 'Y'
    ORDER BY owner, object_name
  </select>

  <select id="findById" resultType="com.cloudhandson.vpdbackoffice.domain.protectedobject.ProtectedObject">
    SELECT object_id, owner, object_name, ords_path, enabled_yn
    FROM cb_protected_object
    WHERE object_id = #{objectId}
  </select>

  <select id="findColumns" resultType="com.cloudhandson.vpdbackoffice.domain.protectedobject.ProtectedColumn">
    SELECT column_id, object_id, column_name, sensitive_yn, visible_role_id
    FROM cb_protected_column
    WHERE object_id = #{objectId}
    ORDER BY column_id
  </select>

  <select id="nextObjectId" resultType="long">
    SELECT NVL(MAX(object_id), 0) + 1 FROM cb_protected_object
  </select>

  <select id="nextColumnId" resultType="long">
    SELECT NVL(MAX(column_id), 0) + 1 FROM cb_protected_column
  </select>

  <insert id="insertObject">
    INSERT INTO cb_protected_object (object_id, owner, object_name, ords_path, enabled_yn)
    VALUES (
      #{objectId},
      UPPER(#{command.owner}),
      UPPER(#{command.objectName}),
      #{command.ordsPath},
      'Y'
    )
  </insert>

  <insert id="insertColumn">
    INSERT INTO cb_protected_column (column_id, object_id, column_name, sensitive_yn)
    VALUES (#{columnId}, #{objectId}, UPPER(#{columnName}), #{sensitiveYn})
  </insert>

  <update id="disableObject">
    UPDATE cb_protected_object
    SET enabled_yn = 'N'
    WHERE object_id = #{objectId}
  </update>
</mapper>
